@charset 'utf-8';

@import "variables";
@import "breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

::-webkit-input-placeholder{color:inherit;}
::-moz-placeholder{color:inherit;}
:-ms-input-placeholder{color:inherit;}
:-moz-placeholder{color:inherit;}
input:focus::-webkit-input-placeholder{color:transparent ;}
input:focus:-moz-placeholder{color:transparent ;}
input:focus::-moz-placeholder{color:transparent ;}
input:focus:-ms-input-placeholder{color:transparent ;}
textarea:focus::-webkit-input-placeholder{color:transparent ;}
textarea:focus:-moz-placeholder{color:transparent ;}
textarea:focus::-moz-placeholder{color:transparent ;}
textarea:focus:-ms-input-placeholder{color:transparent ;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1.4;transition: 0s;background: #fff;color: #fff;font-size: 14px;font-family: 'Oswald', sans-serif;font-weight: 400;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input:focus,
button,
button:focus,
textarea{outline:none;}
button {cursor: pointer;transition:all 0.3s ease;}
button{background-color:transparent;border:none;}
a:focus,
a:active{color:#000;outline:0;text-decoration:none;}
a:hover{color:inherit;text-decoration:none ;}
.left{float:left ;}
.right{float:right ;}
a,
input[type="submit"]{transition:all 0.3s ease;color:inherit;cursor: pointer;}
textarea{resize:none;}
.table-respond{overflow: auto;}
.table-respond td, .table-respond th{white-space: nowrap;}
.btn,.btn:focus,.btn:hover{outline: none;box-shadow: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.d-flex {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.flex { -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; } 
.flex-reverse { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; flex-direction: row-reverse; } 
.flex-center { -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; } 
.flex-left { -webkit-justify-content: flex-start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; } 
.flex-right { -webkit-justify-content: flex-end; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; } 
.flex-justify { -webkit-justify-content: space-between; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; } 
.flex-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; } 
.flex-top { -webkit-align-items: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; } 
.flex-middle { -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; align-self: center; } 
.flex-bottom { -webkit-align-items: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; } 
.flex-item-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; } 
.flex-item-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; } 
.flex-item-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
a {	text-decoration: none;}






/** Modal */
.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-width: 637px;
    margin: 0 auto;
    padding: 75px 10px 75px 100px;
    background: #fff;
    box-shadow: 0px 5px 40px #00000094;
    z-index: 9999;
    @include media-max(lg) {
    	padding: 42px 10px 41px 65px;
    	max-width: 351px;
    }
    @include media-max(md) {
    	padding: 40px 10px 34px 43px;
    	max-width: 315px;
    }
}
.modal_body {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.left_side {
		margin: 0 21px 0 0;
		@include media-max(lg) {
			margin: 0 11px 0 0;
		}
		@include media-max(md) {
			margin: 0 10px 0 0;
		}
		img {
			display: block;
			object-fit: contain;
			@include media-max(lg) {
				width: 42px;
				height: 42px;
			}
			@include media-max(md) {
				width: 37px;
				height: 37px;
			}
		}
	}
	.title {
		font-weight: normal;
		font-size: 30px;
		line-height: 44px;
		color: #F29F05;
		@include media-max(lg) {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.descr {
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #022859;
		@include media-max(lg) {
			font-size: 10px;
			line-height: 12px;
		}
	}
}
.modal-close-btn {
    position: absolute;
    right: 27px;
    top: 21px;
    padding: 0;
    @include media-max(lg) {
    	right: 15px;
    	top: 11px;
    }
    @include media-max(md) {
    	right: 13px;
    	top: 9px;
    }
    svg {
    	display: block;
    	object-fit: contain;
    	transition: 0.3s all ease;
    	width: 14px;
    	height: 14px;
    	rect {
    		transition: 0.3s all ease;
    	}
    	&:hover {
    		rect {
    			fill: #F29F05;
    		}
    	}
    	@include media-max(lg) {
    		width: 8px;
    		height: 8px;
    	}
    }
}
.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 40, 89, 0.66);
    z-index: 9998;
}
.is-visible {
    opacity: 1;
    pointer-events: auto;
}
.slick-arrow {
	display: none !important;
}

html {
	overflow-x: hidden;
	body {
		overflow-x: hidden;
	}
}

.title_block {
	position: relative;
	margin: 0 0 90px;
	@include media-max(lg) {
		margin: 0 0 56px;
	}
	@include media-max(md) {
		margin: 0 0 40px;
	}
	.title {
		font-size: 48px;
		line-height: 71px;
		text-transform: uppercase;
		color: #203F66;
		z-index: 20;
		position: relative;
		@include media-max(lg) {
			font-size: 33px;
			line-height: 49px;
		}
		@include media-max(md) {
			font-size: 34px;
			line-height: 50px;
		}
	}
	.title_before {
		font-size: 82px;
		line-height: 122px;
		text-transform: uppercase;
		color: #E7E7E7;
		position: absolute;
		left: -103px;
		bottom: 5px;
		z-index: 10;
		@include media-max(xl) {
			font-size: 60px;
			left: -15px;
		}
		@include media-max(lg) {
			font-size: 45px;
			line-height: 67px;
			left: -40px;
		}
		@include media-max(md) {
			font-size: 40px;
			line-height: 59px;
			left: -15px;
		}
	}
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn_orange {
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	border-radius: 33px;
	width: 256px;
	min-height: 62px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	transition: 0.3s all ease;
	&:hover {
		background: linear-gradient(319.03deg, #F29F05 14.82%, #DD8600 81.72%);
		box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
		transition: 0.3s all ease;
	}
}
.container {
    max-width: 1190px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include media-max(md) {
    	padding-left: 30px;
    	padding-right: 30px;
    }
}
@media (min-width:576px) {
    .container {
        max-width: 576px;
        padding: 0 15px;
    }
}
@media (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 70px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 992px;
        padding-right: 15px;
   		padding-left: 15px;
    }
}
@media (min-width:1366px) {
    .container {
        max-width: 1190px;
    }
}
//START HEADER
header {
	padding: 22px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	background: transparent;
	transition: 0.3s all ease;
	@include media-max(lg) {
		padding: 14px 0;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
.nav-up {
	background: #022859;
	position: fixed;
}
.logo {
	width: 99px;
	height: 47px;
	@include media-max(lg) {
		width: 84px;
		height: 40px;
	}
	@include media-max(md) {
		width: 64px;
		height: 30px;
	}
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	&:hover {
		opacity: 0.6;
	}
}
.header_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 0 80px;
	@include media-max(lg) {
		margin: 0 0 0 -30px;
	}
	@include media-max(md) {
		display: none;
	}
	li {
		margin: 0 65px 0 0;
		@include media-max(lg) {
			margin: 0 19px 0 0;
		}
		&:nth-last-child(1) {
			margin: 0;
		}
		a {
			transition: width 0.3s;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			@include media-max(lg) {
				font-size: 12px;
				line-height: 18px;
				color: #FFFFFF;
			}
			&:after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
			    transition: width 0.3s;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
.btn_wrapper {
	min-width: 160px;
	display: flex;
	justify-content: flex-end;
	@include media-max(lg) {
		min-width: inherit;
	}
	@include media-max(md) {
		display: none;
	}
}
.btn_callback {
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	border-radius: 50%;
	width: 47px;
	height: 47px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	@media screen and (max-width: 1020px) {
		overflow: hidden;
	}
	@include media-max(lg) {
		width: 34px;
		height: 34px;
		overflow: inherit;
	}
	&:hover {
		width: 160px;
		height: 47px;
		background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
		border-radius: 81px;
		@include media-max(lg) {
			border-radius: 50%;
			background: linear-gradient(319.03deg, #F29F05 14.82%, #DD8600 81.72%);
			width: 34px;
			height: 34px;
		}
		span {
			opacity: 1;
			visibility: visible;
			transition-delay: .2s;
			@include media-max(lg) {
				opacity: 0;
				display: none;
			}
		}
		img {
			display: none;
			opacity: 0;
			@include media-max(lg) {
				display: block;
				opacity: 1;
			}
		}
	}
	span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: 0.3s all ease;
		transition-delay: -.2s;
	}
	img {
		display: block;
		opacity: 1;
		@include media-max(lg) {
			width: 12px;
			height: 8px;
		}
	}
}
//HAMBURGER
.menu_box {
	display: none;
	align-items: flex-end;
	justify-content: flex-end;
	min-width: 25px;
	position: relative;
	@include media-max(md) {
		display: inline-flex;
	}
	&.is-active {
		z-index: 600;
	}
}
.mob_nav {
	position: absolute;
	right: 0px;
	top: 0;
	width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	transition: all 0.6s ease;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	padding: 75px 0 75px 30px;
	background: #F29F05;
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		z-index: 500;
	}
	.mob_nav__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		li {
			margin: 0 0 18px;
			a {
				font-size: 18px;
				line-height: 27px;
				color: #FFFFFF;
				&:after {
					content: '';
				    display: block;
				    width: 0;
				    height: 2px;
				    background: #fff;
				    transition: width 0.3s;
				}
				&:hover {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
	.socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			margin: 0 17px 0 0;
			a {
				display: inline-block;
				&:hover {
					opacity: 0.7;
				}
			}
			img {
				display: block;
				width: 28px;
				height: 28px;
			}
		}
	}
}
.hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	.line {
		display: block;
		width: 14px;
		height: 2px;
		background-color: #fff;
		margin: 0 0 2px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border-radius: 20px;
		&:nth-last-child(1) {
			margin: 0;
		}
	}
	&:hover {
		cursor: pointer;
	}
	&.is-active {
		z-index: 600;
		position: relative;
		background: transparent;
		box-shadow: none;
		.line {
			width: 14px;
			&:nth-child(3) {
				opacity: 0;
			}
			&:nth-child(1) {
				-webkit-transform: translateY(5px) rotate(45deg);
				-ms-transform: translateY(5px) rotate(45deg);
				-o-transform: translateY(5px) rotate(45deg);
				transform: translateY(5px) rotate(45deg);
				background: #fff;
			}
			&:nth-child(2) {
				-webkit-transform: translateY(1px) rotate(-45deg);
				-ms-transform: translateY(1px) rotate(-45deg);
				-o-transform: translateY(1px) rotate(-45deg);
				transform: translateY(1px) rotate(-45deg);
				background: #fff;
			}
		}
	}
}

//END HAMBURGER

//END HEADER
//START INDEX
.section_main {
	background: #022859;
	padding: 254px 0 210px 0;
	position: relative;
	@include media-max(lg) {
		padding: 173px 0 145px 0;
	}
	@include media-max(md) {
		padding: 115px 0 300px 0;
	}
	&:before {
		content: '';
		position: absolute;
		width: 784px;
		height:800px;
		right: 0;
		top: 15px;
		background: url('../img/main_bg.png') left no-repeat;
		background-size: cover;
		z-index: 1;
		@include media-max(xl) {
			right: -300px;
		}
		@include media-max(lg) {
			height: 100%;
			width: 822px;
			right: -610px;
			top: 0;
		}
		@include media-max(md) {
			height: 100%;
			width: 119px;
			right: -0;
			background: url('../img/main_bg_mob.png') left no-repeat;
			background-size: cover;
		}
	}
	.container {
		position: relative;
		.circle_anim {
			position: absolute;
			border-radius: 50%;
			animation: circle 1.5s linear 1 alternate 0.5s forwards;
			&.circle_white1 {
				bottom: 44px;
    			right: 566px;
				background: #fff;
				z-index: 20;
				animation: circle_white_main1 1.5s linear 1 alternate forwards;
				width: 49px;
				height: 49px;
				@include media-max(xl) {
					right: 420px;
				}
				@include media-max(lg) {
					bottom: 16px;
					right: 300px;
					width: 32px;
					height: 32px;
				}
				@include media-max(md) {
					bottom: -189px;
					right: 164px;
					width: 30px;
					height: 30px;
				}
			}
			&.circle_white2 {
				top: -104px;
				right: 8px;
				background: #fff;
				z-index: 20;
				animation: circle_white_main2 1.5s linear 1 alternate  forwards;
				width: 330px;
				height: 330px;
				@include media-max(xl) {
					top: 10px;
					right: 50px;
				}
				@include media-max(lg) {
					top: -71px;
   					right: -63px;
   					width: 215px;
   					height: 215px;
				}
				@include media-max(md) {
					top: inherit;
				    right: inherit;
				    left: -88px;
				    bottom: -258px;
				    width: 160px;
					height: 160px;
				}
			}
			&.circle_orange10 {
				right: 401px;
   				bottom: -113px;
				background: #F29F05;
				z-index: 20;
				animation: circle_orange_main10 1.5s linear 1 alternate forwards;
				width: 145px;
				height: 145px;
				@include media-max(xl) {
					right: 320px;
				}
				@include media-max(lg) {
					bottom: -87px;
					right: 209px;
					width: 94px;
					height: 94px;
				}
				@include media-max(md) {
					bottom: -97px;
				    right: inherit;
				    left: 64px;
				    width: 60px;
				    height: 60px;
				}
			}
			&.circle_orange2 {
				top: -307px;
    			right: 262px;
				background: #F29F05;
				z-index: 20;
				animation: circle_orange_main2 1.5s linear 1 alternate forwards;
				width: 462px;
				height: 462px;
				@include media-max(xl) {
					right: 100px;
				}
				@include media-max(lg) {
					right: 102px;
					top: -205px;
					width: 302px;
					height: 302px;
				}
				@include media-max(md) {
					right: -97px;
    				top: 108px;
    				width: 152px;
    				height: 152px;
				}
			}
			&.circle_orange_md {
				background: #F29F05;
				z-index: 20;
				display: none;
				width: 90px;
				height: 90px;
				@include media-max(md) {
					display: block;
					animation: circle_orange_md 1.5s linear 1 alternate forwards;
					bottom: -286px;
    				right: 75px;
				}
			}
		}
		@keyframes circle_orange_md {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
		@keyframes circle_white_main1 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
		@keyframes circle_white_main2 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
		@keyframes circle_orange_main10 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
		@keyframes circle_orange_main2 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
	}
	.main_title {
		font-size: 55px;
		line-height: 82px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 51px;
		@include media-max(lg) {
			font-size: 37px;
			line-height: 55px;
			margin: 0 0 25px;
		}
		@include media-max(md) {
			font-size: 36px;
			line-height: 56px;
			margin: 0 0 18px;
		}
	}
	.main_descr {
		font-size: 25px;
		line-height: 37px;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		margin: 0 0 53px;
		@include media-max(lg) {
			font-size: 17px;
			line-height: 25px;
			margin: 0 0 30px;
		}
		@include media-max(md) {
			font-size: 18px;
			line-height: 27px;
			margin: 0 0 33px;
			max-width: 250px;
		}
	}
	.btn_orange {
		@include media-max(lg) {
			width: 140px;
			min-height: 34px;
			font-size: 12px;
			line-height: 18px;
		}
	}
	.right_side {
		position: relative;
		z-index: 25;
		display: flex;
	    align-items: center;
	    justify-content: center;
		img {
			display: block;
		}
		.movingImg {
			z-index: 20;
			position: absolute;
    		top: -303px;
    		@include media-max(xl) {
    			right: -100px;
    		}
		}
		.mob_head {
    		@include media-max(lg) {
    			width: 275px;
    			height: 493px;
    			object-fit: contain;
    			position: absolute;
    			top: -190px;
    			right: -25px;
    			z-index: 25;
    		}
    		@include media-max(md) {
    			width: 260px;
    			height: 466px;
    			top: -73px;
    			right: -93px;
    		}
		}
		.dots {
			position: absolute;
			top: -161px;
    		right: 321px;
			z-index: 18;
			@include media-max(xl) {
				right: 180px;
			}
			@include media-max(lg) {
				width: 185px;
				height: 132px;
				right: 81px;
				top: -98px;
			}
			@include media-max(md) {
				width: 175px;
				height: 125px;
				right: 7px;
				top: 5px;
			}
		}
	}
}
.main_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include media-max(md) {
		flex-wrap: wrap;
	}
	.left_side {
		width: 100%;
		max-width: 565px;
		@include media-max(md) {
			max-width: 100%;
			position: relative;
			z-index: 30;
		}
	}
	.right_side {
		width: 100%;
		max-width: 700px;
		@include media-max(md) {
			max-width: 100%;
		}
	}
}
.section_services {
	padding: 167px 0 0 0;
	@include media-max(lg) {
		padding: 72px 0 0 0;
	}
	@include media-max(md) {
		padding: 80px 0 0 0;
	}
	.title_block {
		@include media-max(md) {
			margin: 0 0 0 30px;
		}
	}
	.container {
		@include media-max(md) {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.services {
		margin: 0 0 -100px;
		@include media-max(lg) {
			margin: 0 0 -60px;
		}
		@include media-max(md) {
			margin: 0 0 -75px;
			padding: 20px 0;
		}
	}
}
.services {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	@include media-max(md) {
		overflow: auto;
		flex-wrap: nowrap;
	}
	.service_item {
		width: calc((100% / 3) - 25px);
		box-shadow: 0px 5px 40px #00000094;
		height: 100%;
		min-height: 470px;
		background: #fff;
		@include media-max(lg) {
			width: calc((100% / 3) - 20px);
			min-height: 386px;
		}
		@include media-max(md) {
			width: 231px;
			min-width: 231px;
			margin: 0 20px 0 0;
			box-shadow: 0px 5px 15px #00000094;
		}
		&:first-child {
			@include media-max(md) {
				margin: 0 20px 0 30px;
			}
			.service_item__header {
				min-height: 145px;
				background: url(../img/services_1.jpg) center no-repeat;
				background-size: cover;
				padding: 0 0 0 48px; 
				color: #fff;
				@include media-max(lg) {
					padding: 0 0 0 25px;
					min-height: 95px;
				}
				@include media-max(md) {
					min-height: 120px;
					padding: 0 0 0 31px;
				}
			}
			.service_item__body {
				min-height: 325px;
				@include media-max(xl) {
					min-height: 386px;
				}
				@include media-max(lg) {
					min-height: 291px;
				}
				@include media-max(md) {
					min-height: 266px;
				}
			}
		}
		&:nth-child(2) {
			.service_item__header {
				min-height: 230px;
				background: url(../img/services_2.jpg) center no-repeat;
				background-size: cover;
				padding: 0 0 0 37px;
				@include media-max(lg) {
					padding: 0 0 0 19px;
					min-height: 180px;
				}
				@include media-max(md) {
					min-height: 186px;
					padding: 0 0 0 24px;
				}
			}
			.service_item__body {
				min-height: 240px;
				@include media-max(xl) {
					min-height: 300px;
				}
				@include media-max(lg) {
					min-height: 206px;
				}
				@include media-max(md) {
					min-height: 200px;
				}
			}
		}
		&:nth-child(3) {
			margin: 0;
			.service_item__header {
				min-height: 199px;
				background: url(../img/services_3.jpg) center no-repeat;
				background-size: cover;
				padding: 0 0 0 66px;
				@include media-max(lg) {
					padding: 0 0 0 33px;
					min-height: 148px;
				}
				@include media-max(md) {
					min-height: 143px;
					padding: 0 0 0 42px;
				}
			}
			.service_item__body {
				min-height: 271px;
				@include media-max(xl) {
					min-height: 330px;
				}
				@include media-max(lg) {
					min-height: 238px;
				}
			}
		}
		.service_item__header {
			font-size: 24px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #F29F05;
			@include media-max(lg) {
				font-size: 16px;
				line-height: 24px;
			}
			@include media-max(md) {
				font-size: 16px;
				line-height: 24px;
			}
			p {
				@include media-max(xl) {
					max-width: 190px;
				}
				@include media-max(lg) {
					max-width: 150px;
				}
				@include media-max(md) {
					max-width: 190px;
				}
			}
		}
		.service_item__body {
			padding: 20px 27px 20px 73px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include media-max(lg) {
				padding: 20px 10px 20px 36px;
			}
			@include media-max(md) {
				padding: 15px 15px 15px 46px;
			}
			.descr {
				font-weight: 300;
				font-size: 18px;
				line-height: 27px;
				color: #022859;
				margin: 0 0 11px;
				position: relative;
				@include media-max(lg) {
					font-size: 12px;
					line-height: 18px;
					margin: 0 0 5px;
				}
				@include media-max(md) {
					margin: 0 0 10px;
				}
				&:nth-last-child(1) {
					margin: 0;
				}
				&:before {
					content: '';
					position: absolute;
					background: url('../img/before_vector.svg')center no-repeat;
					left: -35px;
					top: 5px;
					width: 18px;
					height: 18px;
					@include media-max(lg) {
						width: 13px;
						height: 13px;
						background-size: cover;
						left: -23px;
						top: 3px;
					}
					@include media-max(md) {
						width: 16px;
						height: 16px;
						top: 1px;
					}
				}
				span {
					display: block;
					padding: 0 0 0 17px;
					position: relative;
					@include media-max(lg) {
						padding: 0 0 0 13px;
					}
					@include media-max(md) {
						margin: 5px 0 0 0;
					}
					&:before {
						content: '';
						position: absolute;
						background: #022859;
						left: 0;
						top: 10px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						@include media-max(lg) {
							width: 3px;
							height: 3px;
						}
					}
				}
			}
		}
	}
	.bug_for_ios {
		display: none;
		min-width: 30px;
		height: 386px;
		@include media-max(md) {
			display: block;
		}
	}
}
.section_clients {
	background: #F29F05;
	padding: 206px 0 220px 0;
	overflow: hidden;
	min-height: 1197px;
	@include media-max(lg) {
		padding: 132px 0 67px 0;
		min-height: 703px;
	}
	@include media-max(md) {
		padding: 155px 0 63px 0;
	}
	.title_block {
		@include media-max(md) {
			margin: 0 0 100px;
		}
		br {
			display: none;
			@include media-max(md) {
				display: block;
			}
		}
		.title_before {
			color: #ffffff5c;
		}
	}
}
.clients .client_item:nth-child(2) {
	margin-top: 100px;
	.clients_img {
		@include media-max(md) {
			width: 136px;
			height: 197px;
			top: -98px;
    		right: 9px;
		}
	}
	.wrapper {
		@include media-max(md) {
			width: 100%;
			max-width: 231px;
			padding: 108px 15px 30px 26px;
			min-height: 257px;
			border: 1px solid #FFFFFF;
		}
	}
	@include media-max(md) {
		margin-top: 0;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		border: none;
		width: 100%;
		position: relative;
	}
}
.clients .client_item:nth-child(3) {
	margin-top: 200px;
	@include media-max(md) {
		margin: 0;
	}
	.clients_img {
		@include media-max(md) {
			width: 130px;
			height: 197px;
			top: -82px;
    		right: 7px;
		}
	}
}
.clients {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media-max(md) {
		flex-direction: column;
		align-items: flex-start;
	}
	.client_item {
		padding: 191px 45px 45px 45px;
		border: 1px solid #FFFFFF;
		width: calc((100% / 3) - 25px);
		position: relative;
		min-height: 410px;
		@include media-max(xl) {
			min-height: 492px;
		}
		@include media-max(lg) {
			padding: 90px 18px 24px 15px;
			min-height: 265px;
		}
		@include media-max(md) {
			width: 100%;
			max-width: 231px;
			padding: 108px 15px 30px 26px;
			min-height: 257px;
			margin: 0 0 70px;
		}
		.client_title {
			margin: 0 0 15px;
			font-size: 24px;
			line-height: 36px;
			color: #FFFFFF;
			br {
				display: none;
				@include media-max(md) {
					display: block;
				}
			}
			@include media-max(lg) {
				font-size: 16px;
				line-height: 24px;
				margin: 0 0 5px;
			}
			@include media-max(md) {
				margin: 0 0 15px;
			}
		}
		.client_descr {
			font-weight: 300;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
			br {
				display: none;
				@include media-max(md) {
					display: block;
				}
			}
			@include media-max(lg) {
				font-size: 12px;
				line-height: 18px;
			}
		}
		.clients_img {
			display: block;
			position: absolute;
			right: 25px;
			top: -95px;
			width: 213px;
			height: 277px;
			object-fit: contain;
			@include media-max(lg) {
				width: 136px;
				height: 182px;
				object-fit: contain;
				right: 0;
				top: -100px;
			}
			@include media-max(md) {
				width: 139px;
				height: 138px;
				right: 0;
				top: -44px;
			}
		}
	}
}
.section_how {
	background: #022859;
	padding: 101px 0 310px 0;
	@include media-max(lg) {
		padding: 67px 0 212px 0;
	}
	@include media-max(md) {
		padding: 76px 0 191px 0;
	}
	.container {
		position: relative;
	}
	.title_block {
		margin: 0 0 61px;
		br {
			display: none;
			@include media-max(md) {
				display: block;
			}
		}
		.title {
			color: #FFFFFF;
		}
		.title_before {
			color: #203F66;
		}
	}
	.movingImg {
		position: absolute;
		top: 42px;
		right: -152px;
		display: block;
		z-index: 30;
	}
	.mob_head {
		position: absolute;
		top: 85px;
   		right: -78px;
		display: block;
		z-index: 30;
		width: 460px;
		height: 542px;
		object-fit: contain;
		@include media-max(md) {
			width: 339px;
			height: 400px;
			top: inherit;
		    bottom: -130px;
		    right: -154px;
		}
	}
	.dots {
		position: absolute;
		top: 188px;
		right: -135px;
		display: block;
		z-index: 25;
		@include media-max(lg) {
			width: 169px;
			height: 121px;
			top: 162px;
    		right: -76px;
		}
		@include media-max(md) {
			width: 125px;
			height: 90px;
			top: inherit;
		    right: -92px;
		    bottom: -53px;
		}
	}
	.circle_anim {
		position: absolute;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_white2 {
			width: 279px;
			height: 279px;
			top: 259px;
    		right: 317px;
			background: #fff;
			z-index: 20;
			animation: circle_white_how2 1.5s linear 1 alternate  forwards;
			@include media-max(xl) {
				right: 250px;
			}
			@include media-max(lg) {
				right: 195px;
				top: 188px;
				width: 167px;
				height: 167px;
			}
			@include media-max(md) {
				right: -107px;
    			top: 238px;
    			width: 200px;
    			height: 200px;
			}
		}
		&.circle_orange1 {
			width: 49px;
			height: 49px;
			top: 575px;
			right: 527px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange_how1 1.5s linear 1 alternate forwards;
			@include media-max(xl) {
				top: 800px;
			}
			@include media-max(lg) {
				width: 29px;
				height: 29px;
				right: 319px;
				top: 376px;
			}
			@include media-max(md) {
				right: 133px;
				top: 512px;
				background: #fff;
				width: 22px;
				height: 22px;
			}
		}
		&.circle_orange2 {
			width: 474px;
			height: 474px;
			top: 227px;
			right: -89px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange_how2 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				top: 168px;
    			right: -48px;
    			width: 283px;
    			height: 283px;
			}
			@include media-max(md) {
				top: 384px;
    			right: 43px;
    			width: 123px;
    			height: 123px;
			}
		}
	}
	@keyframes circle_white_how2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_orange_how1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_orange_how2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
.how_block {
	flex-direction: column;
	display: flex;
	align-items: flex-start;
}
.how_item {
	padding: 30px 120px 30px 53px;
	border: 1px solid #F29F05;
	width: 100%;
	max-width: 460px;
	margin: 0 0 30px;
	position: relative;
	&:nth-last-child(1) {
		margin: 0;
	}
	@include media-max(lg) {
		padding: 17px 83px 18px 34px;
		margin: 0 0 14px;
		max-width: 303px;
	}
	@include media-max(md) {
		padding: 20px 25px 17px 20px;
		max-width: 231px;
		z-index: 31;
	}
	&:before,
	&:after  {
		content: ''; 
		position: absolute;
		right: 50px;
		top: 0;
		border: 15px solid transparent;
		border-top: 15px solid #F29F05;
	}
	&:after {
		border-top: 15px solid #022859;
		top: -1.5px;
	}
	.how_title {
		font-size: 24px;
		line-height: 36px;
		color: #F29F05;
		margin: 0 0 30px;
		position: relative;
		@include media-max(lg) {
			font-size: 16px;
			line-height: 24px;
			margin: 0 0 15px;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 69px;
			height: 1px;
			background: #fff;
			@include media-max(lg) {
				bottom: -7.5px;
				width: 46px;
			}
		}
	}
	.how_descr {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #FFFFFF;
		@include media-max(lg) {
			font-size: 12px;
			line-height: 18px;
		}
	}
}
.section_about {
	margin: -174px 0 0 0;
	@include media-max(lg) {
		margin: -114px 0 0 0;
	}
	@include media-max(md) {
		margin: -87px 0 0 0;
	}
	.title_block {
		margin: 0;
		.title {
			color: #203F66;
		}
		.title_before {
			color: #FAB32F;
			left: -87px;
			@include media-max(lg) {
				left: -40px;
			}
			@include media-max(md) {
				left: -16px;
			}
		}
	}
	.about_block {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		box-shadow: 0px 5px 40px #00000094;
		position: relative;
		@include media-max(md) {
			flex-direction: column;
		}
		.about_left {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: calc(100% - 713px);
			background: #F29F05;
			padding: 170px 128px 154px 155px;
			min-height: 395px;
			@include media-max(xl) {
				width: calc(100% - 550px);
				min-height: 450px;
			}
			@include media-max(lg) {
				width: 241px;
				min-height: 254px;
				padding: 100px 47px 105px 78px;
			}
			@include media-max(md) {
				width: 100%;
				min-height: 175px;
				padding: 69px 114px 56px 114px;
			}
			&:before {
				content: '';
				position: absolute;
				background: url('../img/hand_1.png') center no-repeat;
				background-size: cover;
				left: 0;
				top: 0;
				width: 283px;
				height: 125px;
				@include media-max(lg) {
					width: 153px;
					height: 67px;
				}
			}
			&:after {
				content: '';
				position: absolute;
				background: url('../img/hand_2.png') center no-repeat;
				background-size: cover;
				right: 0;
				bottom: 0;
				width: 283px;
				height: 125px;
				@include media-max(lg) {
					width: 155px;
					height: 71px;
				}
			}
		}
		.about_right {
			padding: 54px 70px 20px 53px;
			background: #fff;
			width: calc(100% - 444px);
			min-height: 395px;
			@include media-max(xl) {
				width: calc(100% - 412px);
				min-height: 450px;
			}
			@include media-max(lg) {
				width: 387px;
				min-height: 254px;
				padding: 18px 5px 23px 33px;
			}
			@include media-max(md) {
				width: 100%;
				padding: 27px 32px 26px 27px;
			}
			.about_title {
				font-size: 18px;
				line-height: 27px;
				text-transform: uppercase;
				color: #F29F05;
				margin: 0 0 10px;
				@include media-max(lg) {
					font-size: 14px;
					line-height: 21px;
					margin: 0 0 5px;
				}
			}
			.descr {
				font-weight: 300;
				font-size: 18px;
				line-height: 27px;
				color: #022859;
				margin: 0 0 30px;
				@include media-max(lg) {
					font-size: 12px;
					line-height: 18px;
					margin: 0 0 10px;
				}
			}
			.about_ul {
				li {
					margin: 0 0 7px;
					padding: 0 0 0 30px;
					position: relative;
					@include media-max(lg) {
						padding: 0 0 0 16px;
					}
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 5px;
						background: url('../img/before_vector.svg') center no-repeat;
						background-size: cover;
						width: 18px;
						height: 18px;
						@include media-max(lg) {
							width: 10px;
							height: 10px;
							top: 3px;
						}
					}
				}
				p {
					font-weight: 300;
					font-size: 18px;
					line-height: 27px;
					color: #022859;
					@include media-max(lg) {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}
	}
}
.section_privileges {
	padding: 100px 0 183px 0;
	min-height: 847px;
	@include media-max(lg) {
		padding: 70px 0;
		min-height: 517px;
	}
	@include media-max(md) {
		padding: 72px 0 75px 0;
	}
	.title_block {
		margin: 0 0 50px;
		@include media-max(lg) {
			margin: 0 0 30px;
		}
	}
}
.privileges_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include media-max(md) {
		flex-wrap: wrap;
	}
}
.privilege_item__inner {
	margin: 100px 0 0 0;
}
.privilege_item {
	width: calc((100% / 4) - 30px);
	@include media-max(lg) {
		width: calc((100% / 4) - 10px);
	}
	@include media-max(md) {
		width: calc(50% - 10px);
	}
	&:nth-child(3) {
		img {
			@include media-max(lg) {
				margin: 0 0 16px -7px;
			}
		}
	}
	img {
		margin: 0 auto 27px;
		display: block;
		object-fit: contain;
		width: 100%;
		max-width: 203px;
		height: 147px;
		@include media-max(lg) {
			max-width: 110px;
			height: 80px;
			margin-bottom: 15px;
			margin: 0 0 16px;
		}
	}
	.privilege_title {
		font-size: 18px;
		line-height: 27px;
		color: #F29F05;
		margin: 0 0 15px;
		br {
			display: none;
			@include media-max(md) {
				display: block;
			}
		}
		@include media-max(lg) {
			font-size: 14px;
			line-height: 21px;
		}
	}
	.privilege_descr {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #022859;
		br {
			display: none;
			@include media-max(md) {
				display: block;
			}
		}
		@include media-max(lg) {
			font-size: 12px;
			line-height: 18px;
		}
	}
}
.section_steps {
	padding: 102px 0 120px 0;
	background: #022859;
	@include media-max(lg) {
		padding: 64px 0 60px 0;
	}
	@include media-max(md) {
		padding: 75px 0 81px 0;
	}
	.container {
		@include media-max(md) {
			padding: 0;
		}
	}
	.title_block {
		margin: 0 0 119px;
		@include media-max(lg) {
			margin: 0 0 60px;
		}
		@include media-max(md) {
			margin: 0 0 40px 30px;
		}
		.title {
			color: #fff;
		}
		.title_before {
			color: #203F66;
		}
	}
}
.steps_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include media-max(md) {
		overflow: auto;
		flex-wrap: nowrap;
		padding: 30px 0 0 0;
	}
	.step_item {
		position: relative;
		width: calc((100% / 3) - 25px);
		padding: 74px 26px 38px 29px;
		border: 1px solid #FFFFFF;
		min-height: 480px;
		@include media-max(xl) {
			min-height: 582px;
		}
		@include media-max(lg) {
			width: calc((100% / 3) - 10px);
			padding: 39px 15px 23px 15px;
			min-height: 385px;
		}
		@include media-max(md) {
			min-width: 231px;
			margin: 0 20px 0 0;
			min-height: 292px;
			&:nth-child(1) {
				margin: 0 20px 0 30px;
			}
		}
		.step_numder {
			padding: 0 15px;
			position: absolute;
			top: -46px;
			left: 30px;
			background: #022859;
			@include media-max(lg) {
				top: -26px;
			}
			img {
				display: block;
				width: 100%;
				max-width: 100%;
				@include media-max(lg) {
					max-width: 84px;
					height: 50px;
					object-fit: contain;
				}
			}
		}
		.step_title {
			font-size: 24px;
			line-height: 36px;
			color: #F29F05;
			margin: 0 0 9px;
			@include media-max(lg) {
				font-size: 14px;
				line-height: 21px;
			}
		}
		.step_ul {
			li {
				margin: 0 0 3px;
				padding: 0 0 0 25px;
				position: relative;
				@include media-max(md) {
					padding: 0 0 0 18px;
					margin: 0;
				}
				&:nth-last-child(1) {
					margin: 0;
					&:before {
						content: none;
					}
				}
				&:after {
					content: '';
					position: absolute;
					background: #F29F05;
					width: 7px;
					height: 7px;
					left: 0;
					top: 10px;
					border-radius: 50%;
				}
				&:before {
					content: '';
					position: absolute;
					background: #F29F05;
					width: 1px;
					height: calc(100% + 5px);
					left: 3px;
					top: 11px;
					@include media-max(md) {
						height: calc(100% + 4px);
					}
				}
				p {
					font-weight: 300;
					font-size: 18px;
					line-height: 27px;
					color: #FFFFFF;
					@include media-max(lg) {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.bug_for_ios {
		display: none;
		min-width: 30px;
		height: 292px;
		@include media-max(md) {
			display: block;
		}
	}
}
.section_projects {
	padding: 102px 0 138px 0;
	background: #F29F05;
	@include media-max(lg) {
		padding: 66px 0 75px 0;
	}
	@include media-max(md) {
		padding: 78px 0 95px 0;
	}
	.title_block {
		@include media-max(md) {
			margin: 0 0 40px -35px;
		}
		.title_before {
			color: #FAB32F;
		}
	}
	.container {
		@include media-max(xl) {
			padding: 0 70px;
		}
		@include media-max(md) {
			padding: 0 65px;
		}
	}
	.slider_descr__bottom {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		color: #FFFFFF;
		@include media-max(lg) {
			font-size: 14px;
			line-height: 21px;
		}
	}
	.slider_wrapper {
		position: relative;
		.section__sliderNav--arrows {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			margin-top: 5px;
			position: absolute;
			top: calc(50% - 35px);
			transform: translateY(-50%);
			@include media-max(lg) {
				max-width: 100%;
				top: calc(50% - 50px);
			}
			img {
				display: block;
			}
			.prev {
				position: absolute;
				left: -53px;
			}
			.next {
				position: absolute;
				right: -53px;
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.project_slider {
	margin: 0 0 20px;
	min-height: 550px;
	@include media-max(xl) {
		min-height: 450px;
	}
	@include media-max(lg) {
		min-height: 500px;
	}
	@include media-max(md) {
		margin: 0 0 15px;
		min-height: 375px;
	}
	.slider-item {
		margin: -50px 20px 0 20px;
		height: 315px;
		display: flex;
		align-items: center;
		flex-direction: column;
		.slider_descr__bottom {
			display: none;
		}
		@include media-max(xl) {
			height: 200px;
		}
		@include media-max(lg) {
			width: 100% !important;
			margin: 0;
		}
		img {
			display: block;
			width: 100%;
			max-width: 100%;
			object-position: center;
			object-fit: cover;
			height: 250px;
			@include media-max(xl) {
				height: 200px;
			}
		}
	}
	.slick-track {
		display: flex;
		align-items: center;
		justify-content: space-between;
		visibility: visible;
		@include media-max(lg) {
			justify-content: flex-start;
		}
	}
	.slick-center {
		width: 390px !important;
		height: 550px;
		margin: 0 20px;
		@include media-max(lg) {
			margin: 0;
		}
		.slider_descr__bottom {
			display: block;
		}
		@include media-max(xl) {
			width: 300px !important;
			height: 450px;
		}
		@include media-max(lg) {
			width: 100% !important;
			height: 500px;
		}
		@include media-max(md) {
			width: 100% !important;
			height: 350px;
		}
		.slider_wrap {
			position: relative;
			height: 450px;
			padding: 17px 17px 0 17px;
			display: block;
			margin: 0 0 20px;
			@include media-max(xl) {
				width: 300px !important;
				height: 350px;
			}
			@include media-max(lg) {
				width: 100% !important;
				height: 400px;
				padding: 14px 25px 0 25px;
			}
			@include media-max(md) {
				width: 100% !important;
				height: 275px;
				padding: 11px 11px 0 11px;
			}
			&:before {
				background: #022859;
				content: '';
				position: absolute;
				width: 100%;
				height: 95%;
				left: 0;
				top: 0;
			}
		}
		img {
			position: relative;
			display: block;
			width: 100%;
			max-width: 100%;
			object-position: center;
			object-fit: cover;
			height: 100%;
		}
	}
}
.section_callback {
	padding: 120px 0;
	@include media-max(lg) {
		padding: 73px 0 60px 0;
		overflow: hidden;
	}
	@include media-max(md) {
		padding: 63px 0;
		overflow: initial;
	}
	.callback_wrapper {
		display: flex;
		justify-content: flex-end;
		@include media-max(md) {
			justify-content: center;
		}
	}
	.container {
		position: relative;
	}
	.movingImg {
		position: relative;
		display: block;
		position: absolute;
		top: -73px;
    	left: -70px;
		z-index: 30;
		@include media-max(xl) {
			left: -100px;
			object-fit: contain;
			width: 570px;
			height: 650px;
			top: 100px;
		}
	}
	.mob_head {
		@include media-max(lg) {
			position: absolute;
			left: 50px;
			object-fit: contain;
			width: 388px;
			height: 446px;
			top: 6px;
			z-index: 30;
		}
		@include media-max(md) {
			width: 302px;
			height: 374px;
			left: -43px;
			top: -168px;
		}
	}
	.dots {
		position: absolute;
		top: 110px;
		left: 225px;
		z-index: 25;
		@include media-max(xl) {
			left: 100px;
		}
		@include media-max(lg) {
			width: 142px;
			height: 101px;
			top: 61px;
			left: 213px;
		}
		@include media-max(md) {
			width: 110px;
			height: 79px;
			top: -111px;
			left: 81px;
		}
	}
	.circle_anim {
		position: absolute;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_blue {
			width: 395px;
			height: 395px;
			top: 175px;
    		left: 136px;
			background: #022859;
			z-index: 20;
			animation: circle_blue 1.5s linear 1 alternate forwards;
			@include media-max(xl)  {
				left: 0;
				top: 0;
			}
			@include media-max(lg) {
				width: 198px;
				height: 198px;
				left: 155px;
				top: 88px;
			}
			@include media-max(md) {
				width: 154px;
				height: 154px;
				top: -94px;
				left: 36px;
			}
		}
		&.circle_orange {
			width: 279px;
			height: 279px;
			top: 47px;
			left: -115px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				width: 140px;
				height: 140px;
				top: 22px;
				left: 28px;
			}
			@include media-max(md) {
				display: none;
			}
		}
	}
	@keyframes circle_blue {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_orange {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
.callback_form {
	width: 100%;
	max-width: 560px;
	padding: 42px 60px;
	box-shadow: 0px 10px 40px #D5D7D9;
	margin: 0 0 38px;
	position: relative;
    z-index: 50;
    background: #fff;
    @include media-max(lg) {
    	padding: 22px 32px 25px 32px;
    	max-width: 303px;
    	margin: 0 0 27px;
    }
    @include media-max(md) {
    	max-width: 100%;
    }
	.callback_title {
		font-size: 24px;
		line-height: 36px;
		color: #F29F05;
		margin: 0 0 40px;
		@include media-max(lg) {
			font-size: 14px;
			line-height: 21px;
			margin: 0 0 15px;
		}
	}
	.btn_orange {
		box-shadow: none;
		width: 200px;
		min-height: 50px;
		margin: 0 0 38px;
		font-family: 'Oswald';
		font-style: normal;
		@include media-max(lg) {
			width: 111px;
			min-height: 28px;
			margin: 0 0 18px;
			font-size: 12px;
			line-height: 18px;
		}
	}
}
.form_input {
	width: 100%;
	max-width: 100%;
	height: 50px;
	margin: 0 0 10px;
	border: 1px solid #E7E7E7;
	position: relative;
	@include media-max(lg) {
		height: 27px;
		margin: 0 0 6px;
	}
	input,
	textarea {
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0 0 0 23px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #022859;
		font-family: 'Oswald';
		font-style: normal;
		@include media-max(lg) {
			padding: 0 0 0 13px;
			font-size: 12px;
			line-height: 18px;
		}
	}
}
input:focus ~ .place_holder {
  opacity: 0;
}
.place_holder {
    z-index: 100;    
    left: 23px;
    cursor: text;   
    position: absolute;
    top: -2px;
    width: 100%;    
    display: none;
    font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #022859;
	font-family: 'Oswald';
	font-style: normal;
	@include media-max(lg) {
		font-size: 12px;
		line-height: 18px;
		left: 13px;
		top: 2px;
	}
}
.placeinput input:invalid + .place_holder {
     display: inline;
}
.placeinput {
    position: relative;
    overflow: hidden;
}
.place_holder span {
    color: #F29F05;
    margin: 0 0 0 3px;
}

.form_input__area {
	height: 100px;
	margin: 0 0 20px;
	@include media-max(lg) {
		height: 54px;
		margin: 0 0 8px;
	}
	textarea {
		padding: 10px 10px 10px 23px;
		@include media-max(lg) {
			padding: 3px 10px 10px 13px;
		}
	}
}
.file_upload {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 25px;
    @include media-max(lg) {
    	margin: 0 0 15px;
    }
    &:hover {
    	.title {
    		text-decoration: none;
    	}
    }
    .title {
    	font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		color: #022859;
		@include media-max(lg) {
			font-size: 12px;
			line-height: 18px;
		}
    }
    img {
    	display: block;
    	width: 16px;
    	height: 15px;
    	margin: 0 10px 0 0;
    	@include media-max(lg) {
    		width: 8px;
    		height: 8px;
    		margin: 0 5px 0 0;
    	}
    }
    input {
    	display: none;
    }
}
.check {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #022859;
	@include media-max(lg) {
		font-size: 7px;
		line-height: 10px;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.telegram_contact {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 60px;
	@include media-max(lg) {
		padding: 0 0 0 32px;
	}
	p {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #022859;
		margin: 0 37px 0 0;
		position: relative;
		@include media-max(lg) {
			font-size: 12px;
			line-height: 18px;
			margin: 0 28px 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			right: -29px;
			bottom: -5px;
			background: url('../img/arrow_spiral.svg') center no-repeat;
			background-size: cover;
			width: 57px;
			height: 30px;
			@include media-max(lg) {
				width: 32px;
				height: 16px;
			}
		}
	}
	a {
		display: inline-block;
		&:hover {
			opacity: 0.7;
		}
		img {
			display: block;
			@include media-max(lg) {
				width: 35px;
				height: 35px;
			}
		}
	}
}
//END INDEX
//START 404
.section_error {
	padding: 318px 0 384px 0;
	background: #022859;
	overflow: hidden;
	min-height: 100vh;
	@include media-max(lg) {
		padding: 342px 0 412px 0;
	}
	@include media-max(md) {
		padding: 104px 0 359px 0;
	}
	.container {
		position: relative;
	}
	.main_title {
		font-size: 53px;
		line-height: 79px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 52px;
		@include media-max(xl) {
			max-width: 500px;
		}
		@include media-max(lg) {
			font-size: 46px;
			line-height: 68px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 0 35px;
			max-width: 400px;
		}
		@include media-max(md) {
			font-size: 38px;
			line-height: 56px;
			margin: 0 0 20px;
		}
	}
	.error_subtitle {
		font-size: 36px;
		line-height: 53px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 35px;
		@include media-max(lg) {
			font-size: 24px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 0 32px;
		}
		@include media-max(md) {
			margin: 0 0 18px;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.btn_wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.btn_orange {
			width: 160px;
			min-height: 47px;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;
			@include media-max(lg) {
				width: 111px;
				min-height: 30px;
				font-size: 9px;
				line-height: 18px;
			}
			@include media-max(md) {
				width: 90px;
				height: 26px;
				font-size: 8px;
				line-height: 18px;
			}
		}
		p {
			font-size: 36px;
			line-height: 53px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 38px;
			@include media-max(lg) {
				font-size: 24px;
				line-height: 36px;
				margin: 0 15px;
			}
			@include media-max(md) {
				font-size: 16px;
				line-height: 24px;
				margin: 0 6px;
			}
		}
	}
	.mob_head {
		position: absolute;
		display: block;
		top: -175px;
		right: -300px;
		z-index: 30;
		transform: rotate(-10deg);
		@include media-max(lg) {
			width: 650px;
		    height: 850px;
		    object-fit: contain;
		    top: -290px;
		    right: -267px;
		}
		@include media-max(md) {
			top: inherit;
		    bottom: -370px;
		    width: 375px;
		    height: 375px;
			right: -100px;
		}
	}
	.movingImg {
		position: absolute;
		display: block;
		top: -175px;
		right: -300px;
		z-index: 30;
		@include media-max(xl) {
			right: -250px;
		}
	}
	.dots {
		position: absolute;
		display: block;
		top: -215px;
		right: 0;
		z-index: 25;
		@include media-max(lg) {
			width: 252px;
			height: 181px;
			object-fit: contain;
			right: 56px;
			top: -228px;
		}
		@include media-max(md) {
			width: 167px;
			height: 120px;
			top: inherit;
			bottom: -330px;
			right: -55px;
		}
	}
	.circle_anim {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_white1 {
			width: 49px;
			height: 49px;
			bottom: -120px;
			right: -160px;
			background: #fff;
			z-index: 20;
			animation: circle_white1 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				width: 52px;
				height: 52px;
				right: 45px;
    			bottom: -203px;
			}
			@include media-max(md) {
				width: 34px;
				height: 34px;
				right: inherit;
			    left: 74px;
    			bottom: -302px;
			}
		}
		&.circle_white2 {
			width: 293px;
			height: 293px;
			top: 44px;
    		right: 145px;
			background: #fff;
			z-index: 20;
			animation: circle_white2 1.5s linear 1 alternate  forwards;
			@include media-max(xl) {
				right: 100px;
			}
			@include media-max(lg) {
				width: 224px;
				height: 224px;
				top: -36px;
    			right: 55px;
			}
			@include media-max(md) {
				width: 90px;
				height: 90px;
				top: inherit;
    			right: -59px;
    			bottom: -42px;
			}
		}
		&.circle_orange1 {
			width: 199px;
			height: 199px;
			right: -67px;
    		bottom: -270px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange1 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				width: 129px;
				height: 129px;
				right: -63px;
				bottom: -122px;
			}
			@include media-max(md) {
				width: 132px;
				height: 132px;
				bottom: -209px;
				right: inherit;
				left: -41px;
			}
		}
		&.circle_orange2 {
			width: 566px;
			height: 566px;
			right: -398px;
    		top: -286px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange2 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				width: 505px;
				height: 505px;
				top: -381px;
				right: -351px;
			}
			@include media-max(md) {
				width: 290px;
				height: 290px;
				top: inherit;
				bottom: -391px;
    			right: -67px;
			}
		}
	}
	@keyframes circle_white1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_white2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_orange1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes circle_orange2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}
//END 404
//START FOOTER
footer {
	background: #022859;
	padding: 27px 0;
	@include media-max(lg) {
		padding: 15px 0;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.footer_left {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.logo_footer {
				width: 118px;
				height: 56px;
				display: inline-block;
				margin: 0 82px 0 0;
				@include media-max(lg) {
					width: 60px;
					height: 28px;
					margin: 0 20px 0 0;
				}
				@include media-max(md) {
					width: 64px;
					height: 29px;
				}
				&:hover {
					opacity: 0.7;
				}
				img {
					display: block;
					width: 100%;
					max-width: 100%;
				}
			}
			.footer_info {
				li {
					margin: 0 0 5px;
					@include media-max(lg) {
						margin: 0 0 3px;
					}
					&:nth-last-child(1) {
						margin: 0;
					}
					a {
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						text-decoration: underline;
						color: #FFFFFF;
						@include media-max(lg) {
							font-size: 10px;
							line-height: 9px;
							display: block;
						}
						@include media-max(md) {
							font-size: 8px;
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		.footer_right {
			width: calc(50% - 30px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include media-max(md) {
				align-items: center;
			}
			.footer_social {
				display: flex;
				align-items: center;
				justify-content: space-between;
				li {
					margin: 0 50px 0 0;
					height: 50px;
					@include media-max(lg) {
						margin: 0 35px 0 0;
						height: 23px;
					}
					@include media-max(md) {
						margin: 0 9px 0 0;
						height: 15px;
					}
					&:nth-last-child(1) {
						margin: 0;
					}
					a {
						display: inline-block;
						&:hover {
							opacity: 0.7;
						}
					}
					img {
						display: block;
						width: 50px;
						height: 50px;
						@include media-max(lg) {
							width: 23px;
							height: 23px;
						}
						@include media-max(md) {
							width: 15px;
							height: 15px;
						}
					}
				}
			}
			.footer_contacts {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				li {
					margin: 0 0 10px 0;
					&:nth-last-child(1) {
						margin: 0;
					}
					@include media-max(lg) {
						margin: 0;
					}
					a {
						font-weight: 300;
						font-size: 17px;
						line-height: 18px;
						color: #FFFFFF;
						@include media-max(lg) {
							font-size: 10px;
							line-height: 12px;
							display: block;
						}
						@include media-max(md) {
							font-size: 8px;
						}
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
//END FOOTER
//OTHER STYLES

.movingImg {
	@include media-max(lg) {
		display: none !important;
	}
}
.mob_head {
	display: none !important;
	@include media-max(lg) {
		display: block !important;
	}
}
.services::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}
.steps_block::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}