@charset 'utf-8';

@import "variables";
@import "breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

::-webkit-input-placeholder{color:inherit;}
::-moz-placeholder{color:inherit;}
:-ms-input-placeholder{color:inherit;}
:-moz-placeholder{color:inherit;}
input:focus::-webkit-input-placeholder{color:transparent ;}
input:focus:-moz-placeholder{color:transparent ;}
input:focus::-moz-placeholder{color:transparent ;}
input:focus:-ms-input-placeholder{color:transparent ;}
textarea:focus::-webkit-input-placeholder{color:transparent ;}
textarea:focus:-moz-placeholder{color:transparent ;}
textarea:focus::-moz-placeholder{color:transparent ;}
textarea:focus:-ms-input-placeholder{color:transparent ;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input, select, textarea, button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1.4;transition: 0s;background: #fff;color: #fff;font-size: 14px;font-family: 'Oswald', sans-serif;font-weight: 400;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input:focus,
button,
button:focus,
textarea{outline:none;}
button {cursor: pointer;transition:all 0.3s ease;}
button{background-color:transparent;border:none;}
a:focus,
a:active{color:#000;outline:0;text-decoration:none;}
a:hover{color:inherit;text-decoration:none ;}
.left{float:left ;}
.right{float:right ;}
a,
input[type="submit"]{transition:all 0.3s ease;color:inherit;cursor: pointer;}
textarea{resize:none;}
.table-respond{overflow: auto;}
.table-respond td, .table-respond th{white-space: nowrap;}
.btn,.btn:focus,.btn:hover{outline: none;box-shadow: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.d-flex {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.flex { -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; } 
.flex-reverse { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; flex-direction: row-reverse; } 
.flex-center { -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; } 
.flex-left { -webkit-justify-content: flex-start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; } 
.flex-right { -webkit-justify-content: flex-end; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; } 
.flex-justify { -webkit-justify-content: space-between; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; } 
.flex-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; } 
.flex-top { -webkit-align-items: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; } 
.flex-middle { -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; align-self: center; } 
.flex-bottom { -webkit-align-items: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; } 
.flex-item-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; } 
.flex-item-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; } 
.flex-item-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
a {	text-decoration: none;}





.slick-arrow {
	display: none !important;
}

html {
	overflow-x: hidden;
	body {
		overflow-x: hidden;
	}
}

.title_block {
	position: relative;
	margin: 0 0 90px;
	.title {
		font-size: 48px;
		line-height: 71px;
		text-transform: uppercase;
		color: #203F66;
		z-index: 20;
		position: relative;
	}
	.title_before {
		font-size: 82px;
		line-height: 122px;
		text-transform: uppercase;
		color: #E7E7E7;
		position: absolute;
		left: -103px;
		bottom: 5px;
		z-index: 10;
	}
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn_orange {
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	border-radius: 33px;
	width: 256px;
	min-height: 62px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	transition: 0.3s all ease;
	&:hover {
		background: linear-gradient(319.03deg, #F29F05 14.82%, #DD8600 81.72%);
		box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
		transition: 0.3s all ease;
	}
}
.container {
    max-width: 1190px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 576px;
        padding: 0 15px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 70px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 992px;
        padding-right: 15px;
   		padding-left: 15px;
    }
}

@media (min-width:1366px) {
    .container {
        max-width: 1190px;
    }
}
//START HEADER
header {
	padding: 22px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	background: transparent;
	@include media-max(lg) {
		padding: 14px 0;
	}
	@include media-max(md) {
		padding: 18px 0 10px 0;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
.nav-up {
	background: #022859;
	position: fixed;
}
.logo {
	width: 99px;
	height: 47px;
	@include media-max(lg) {
		width: 84px;
		height: 40px;
	}
	@include media-max(md) {
		width: 64px;
		height: 30px;
	}
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	&:hover {
		opacity: 0.6;
	}
}
.header_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 0 80px;
	@include media-max(lg) {
		margin: 0 0 0 -30px;
	}
	@include media-max(md) {
		display: none;
	}
	li {
		margin: 0 65px 0 0;
		@include media-max(lg) {
			margin: 0 19px 0 0;
		}
		&:nth-last-child(1) {
			margin: 0;
		}
		a {
			transition: width 0.3s;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			@include media-max(lg) {
				font-size: 12px;
				line-height: 18px;
				color: #FFFFFF;
			}
			&:after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
			    transition: width 0.3s;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
.btn_wrapper {
	min-width: 160px;
	display: flex;
	justify-content: flex-end;
	@include media-max(lg) {
		min-width: inherit;
	}
	@include media-max(md) {
		display: none;
	}
}
.btn_callback {
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	border-radius: 50%;
	width: 47px;
	height: 47px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	@media screen and (max-width: 1020px) {
		overflow: hidden;
	}
	@include media-max(lg) {
		width: 34px;
		height: 34px;
		overflow: inherit;
	}
	&:hover {
		width: 160px;
		height: 47px;
		background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
		border-radius: 81px;
		@include media-max(lg) {
			border-radius: 50%;
			background: linear-gradient(319.03deg, #F29F05 14.82%, #DD8600 81.72%);
			width: 34px;
			height: 34px;
		}
		span {
			opacity: 1;
			visibility: visible;
			transition-delay: .2s;
			@include media-max(lg) {
				opacity: 0;
				display: none;
			}
		}
		img {
			display: none;
			opacity: 0;
			@include media-max(lg) {
				display: block;
				opacity: 1;
			}
		}
	}
	span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: 0.3s all ease;
		transition-delay: -.2s;
	}
	img {
		display: block;
		opacity: 1;
		@include media-max(lg) {
			width: 12px;
			height: 8px;
		}
	}
}
//HAMBURGER
.menu_box {
	display: none;
	align-items: flex-end;
	justify-content: flex-end;
	min-width: 25px;
	position: relative;
	@include media-max(md) {
		display: inline-flex;
	}
	&.is-active {
		z-index: 600;
	}
}
.mob_nav {
	position: absolute;
	right: 0px;
	top: 0;
	width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	transition: all 0.6s ease;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	padding: 75px 0 30px 30px;
	background: #F29F05;
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		z-index: 500;
	}
	.mob_nav__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		li {
			margin: 0 0 18px;
			a {
				font-size: 18px;
				line-height: 27px;
				color: #FFFFFF;
				&:after {
					content: '';
				    display: block;
				    width: 0;
				    height: 2px;
				    background: #fff;
				    transition: width 0.3s;
				}
				&:hover {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
	.socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			margin: 0 17px 0 0;
			a {
				display: inline-block;
				&:hover {
					opacity: 0.7;
				}
			}
			img {
				display: block;
				width: 28px;
				height: 28px;
			}
		}
	}
}
.hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(319.03deg, #DA8300 14.82%, #F29F05 81.72%);
	box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	.line {
		display: block;
		width: 14px;
		height: 2px;
		background-color: #fff;
		margin: 0 0 2px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border-radius: 20px;
		&:nth-last-child(1) {
			margin: 0;
		}
	}
	&:hover {
		cursor: pointer;
	}
	&.is-active {
		z-index: 600;
		position: relative;
		background: transparent;
		box-shadow: none;
		.line {
			width: 14px;
			&:nth-child(3) {
				opacity: 0;
			}
			&:nth-child(1) {
				-webkit-transform: translateY(5px) rotate(45deg);
				-ms-transform: translateY(5px) rotate(45deg);
				-o-transform: translateY(5px) rotate(45deg);
				transform: translateY(5px) rotate(45deg);
				background: #fff;
			}
			&:nth-child(2) {
				-webkit-transform: translateY(1px) rotate(-45deg);
				-ms-transform: translateY(1px) rotate(-45deg);
				-o-transform: translateY(1px) rotate(-45deg);
				transform: translateY(1px) rotate(-45deg);
				background: #fff;
			}
		}
	}
}

//END HAMBURGER

//END HEADER
//START INDEX
.section_main {
	background: #022859;
	padding: 254px 0 210px 0;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 784px;
		height:800px;
		right: 0;
		top: 15px;
		background: url('../img/main_bg.png') center no-repeat;
		background-size: cover;
		z-index: 1;
	}
	.container {
		position: relative;
		.circle_anim {
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			animation: circle 1.5s linear 1 alternate 0.5s forwards;
			&.circle_white1 {
				bottom: 65px;
    			right: 585px;
				background: #fff;
				z-index: 20;
				animation: circle_white_main1 1.5s linear 1 alternate forwards;
			}
			&.circle_white2 {
				top: 54px;
    			right: 171px;
				background: #fff;
				z-index: 20;
				animation: circle_white_main2 1.5s linear 1 alternate  forwards;
			}
			&.circle_orange10 {
				right: 468px;
   				bottom: -40px;
				background: #F29F05;
				z-index: 20;
				animation: circle_orange_main10 1.5s linear 1 alternate forwards;
			}
			&.circle_orange2 {
				top: -84px;
    			right: 487px;
				background: #F29F05;
				z-index: 20;
				animation: circle_orange_main2 1.5s linear 1 alternate forwards;
			}
		}
		@keyframes circle_white_main1 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(5);
			}
		}
		@keyframes circle_white_main2 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(33);
			}
		}
		@keyframes circle_orange_main10 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(14.5);
			}
		}
		@keyframes circle_orange_main2 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(46);
			}
		}
	}
	.main_title {
		font-size: 55px;
		line-height: 82px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 51px;
	}
	.main_descr {
		font-size: 25px;
		line-height: 37px;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		margin: 0 0 53px;
	}
	.right_side {
		position: relative;
		z-index: 25;
		display: flex;
	    align-items: center;
	    justify-content: center;
		img {
			display: block;
		}
		.movingImg {
			z-index: 20;
			position: absolute;
    		top: -303px;
		}
		.dots {
			position: absolute;
			top: -161px;
    		right: 321px;
			z-index: 18;
		}
	}
}
.main_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.left_side {
		width: 100%;
		max-width: 565px;
	}
	.right_side {
		width: 100%;
		max-width: 700px;
	}
}
.section_services {
	padding: 167px 0 0 0;
	.services {
		margin: 0 0 -100px;
	}
}
.services {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	.service_item {
		width: calc((100% / 3) - 25px);
		box-shadow: 0px 5px 40px #00000094;
		height: 100%;
		min-height: 470px;
		background: #fff;
		&:first-child {
			.service_item__header {
				color: #fff;
			}
		}
		.service_item__header {
			font-size: 24px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #F29F05;
		}
		.service_item__body {
			padding: 20px 27px 20px 73px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.descr {
				font-weight: 300;
				font-size: 18px;
				line-height: 27px;
				color: #022859;
				margin: 0 0 11px;
				position: relative;
				&:nth-last-child(1) {
					margin: 0;
				}
				&:before {
					content: '';
					position: absolute;
					background: url('../img/before_vector.svg')center no-repeat;
					left: -35px;
					top: 5px;
					width: 18px;
					height: 18px;
				}
				span {
					display: block;
					padding: 0 0 0 17px;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						background: #022859;
						left: 0;
						top: 10px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
.section_clients {
	background: #F29F05;
	padding: 206px 0 220px 0;
	overflow: hidden;
	min-height: 1197px;
	.title_block {
		.title_before {
			color: #ffffff5c;
		}
	}
}
.clients .client_item:nth-child(2) {
	margin-top: 100px;
}
.clients .client_item:nth-child(3) {
	margin-top: 200px;
}
.clients {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.client_item {
		padding: 191px 45px 45px 45px;
		border: 1px solid #FFFFFF;
		width: calc((100% / 3) - 25px);
		position: relative;
		min-height: 410px;
		.client_title {
			margin: 0 0 15px;
			font-size: 24px;
			line-height: 36px;
			color: #FFFFFF;
		}
		.client_descr {
			font-weight: 300;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
		}
		.clients_img {
			display: block;
			position: absolute;
			right: 25px;
			top: -70px;
		}
	}
}
.section_how {
	background: #022859;
	padding: 101px 0 310px 0;
	.container {
		position: relative;
	}
	.title_block {
		margin: 0 0 61px;
		.title {
			color: #FFFFFF;
		}
		.title_before {
			color: #203F66;
		}
	}
	.movingImg {
		position: absolute;
		top: 42px;
		right: -152px;
		display: block;
		z-index: 30;
	}
	.dots {
		position: absolute;
		top: 188px;
		right: -135px;
		display: block;
		z-index: 25;
	}
	.circle_anim {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_white2 {
			top: 392px;
			right: 453px;
			background: #fff;
			z-index: 20;
			animation: circle_white_how2 1.5s linear 1 alternate  forwards;
		}
		&.circle_orange1 {
			top: 594px;
			right: 544px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange_how1 1.5s linear 1 alternate forwards;
		}
		&.circle_orange2 {
			top: 458px;
			right: 145px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange_how2 1.5s linear 1 alternate forwards;
		}
	}
	@keyframes circle_white_how2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(27.9);
		}
	}
	@keyframes circle_orange_how1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(4.9);
		}
	}
	@keyframes circle_orange_how2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(47.4);
		}
	}
}
.how_block {
	flex-direction: column;
	display: flex;
	align-items: flex-start;
}
.how_item {
	padding: 30px 120px 30px 53px;
	border: 1px solid #F29F05;
	width: 100%;
	max-width: 460px;
	margin: 0 0 30px;
	position: relative;
	&:before,
	&:after  {
		content: ''; 
		position: absolute;
		right: 50px;
		top: 0;
		border: 15px solid transparent;
		border-top: 15px solid #F29F05;
	}
	&:after {
		border-top: 15px solid #022859;
		top: -1.5px;
	}
	.how_title {
		font-size: 24px;
		line-height: 36px;
		color: #F29F05;
		margin: 0 0 30px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 69px;
			height: 1px;
			background: #fff;
		}
	}
	.how_descr {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #FFFFFF;
	}
}
.section_about {
	margin: -174px 0 0 0;
	.title_block {
		margin: 0;
		.title {
			color: #203F66;
		}
		.title_before {
			color: #FAB32F;
			left: -87px;
		}
	}
	.about_block {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		box-shadow: 0px 5px 40px #00000094;
		position: relative;
		.about_left {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: calc(100% - 713px);
			background: #F29F05;
			padding: 170px 128px 154px 155px;
			min-height: 395px;
			&:before {
				content: '';
				position: absolute;
				background: url('../img/hand_1.png') center no-repeat;
				background-size: cover;
				left: 0;
				top: 0;
				width: 283px;
				height: 125px;
			}
			&:after {
				content: '';
				position: absolute;
				background: url('../img/hand_2.png') center no-repeat;
				background-size: cover;
				right: 0;
				bottom: 0;
				width: 283px;
				height: 125px;
			}
		}
		.about_right {
			padding: 54px 70px 20px 53px;
			background: #fff;
			width: calc(100% - 444px);
			min-height: 395px;
			.about_title {
				font-size: 18px;
				line-height: 27px;
				text-transform: uppercase;
				color: #F29F05;
				margin: 0 0 10px;
			}
			.descr {
				font-weight: 300;
				font-size: 18px;
				line-height: 27px;
				color: #022859;
				margin: 0 0 30px;
			}
			.about_ul {
				li {
					margin: 0 0 7px;
					padding: 0 0 0 30px;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 5px;
						background: url('../img/before_vector.svg') center no-repeat;
						background-size: cover;
						width: 18px;
						height: 18px;
					}
				}
				p {
					font-weight: 300;
					font-size: 18px;
					line-height: 27px;
					color: #022859;
				}
			}
		}
	}
}
.section_privileges {
	padding: 100px 0 183px 0;
	.title_block {
		margin: 0 0 50px;
	}
}
.privileges_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.privilege_item__inner {
	margin: 100px 0 0 0;
}
.privilege_item {
	width: calc((100% / 4) - 30px);
	img {
		margin: 0 auto 27px;
		display: block;
		object-fit: contain;
		width: 100%;
		max-width: 203px;
		height: 147px;
	}
	.privilege_title {
		font-size: 18px;
		line-height: 27px;
		color: #F29F05;
		margin: 0 0 15px;
		min-height: 54px;
	}
	.privilege_descr {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #022859;
	}
}
.section_steps {
	padding: 102px 0 120px 0;
	background: #022859;
	.title_block {
		margin: 0 0 119px;
		.title {
			color: #fff;
		}
		.title_before {
			color: #203F66;
		}
	}
}
.steps_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	.step_item {
		position: relative;
		width: calc((100% / 3) - 25px);
		padding: 74px 26px 38px 29px;
		border: 1px solid #FFFFFF;
		min-height: 480px;
		.step_numder {
			padding: 0 15px;
			position: absolute;
			top: -46px;
			left: 30px;
			background: #022859;
			img {
				display: block;
				width: 100%;
				max-width: 100%;
			}
		}
		.step_title {
			font-size: 24px;
			line-height: 36px;
			color: #F29F05;
			margin: 0 0 9px;
		}
		.step_ul {
			li {
				margin: 0 0 3px;
				padding: 0 0 0 25px;
				position: relative;
				&:nth-last-child(1) {
					margin: 0;
					&:before {
						content: none;
					}
				}
				&:after {
					content: '';
					position: absolute;
					background: #F29F05;
					width: 7px;
					height: 7px;
					left: 0;
					top: 10px;
					border-radius: 50%;
				}
				&:before {
					content: '';
					position: absolute;
					background: #F29F05;
					width: 2px;
					height: calc(100% + 10px);
					left: 3px;
					top: 10px;
				}
				p {
					font-weight: 300;
					font-size: 18px;
					line-height: 27px;
					color: #FFFFFF;
				}
			}
		}
	}
}
.section_projects {
	padding: 102px 0 138px 0;
	background: #F29F05;
	.slider_descr__bottom {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		color: #FFFFFF;
	}
	.slider_wrapper {
		position: relative;
		.section__sliderNav--arrows {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			margin-top: 5px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include media-max(lg) {
				max-width: 100%;
			}
			img {
				display: block;
			}
			.prev {
				position: absolute;
				left: -53px;
			}
			.next {
				position: absolute;
				right: -53px;
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.project_slider {
	margin: 0 0 20px;
	.slider-item {
		margin: 0 20px;
		height: 315px;
		min-height: 315px;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
			object-position: center;
			object-fit: cover;
			height: 100%;
		}
	}
	.slick-track {
		display: flex;
		align-items: center;
		justify-content: space-between;
		visibility: visible;
	}
	.slick-center {
		width: 390px !important;
		height: 450px;
		position: relative;
		padding: 17px 17px 0 17px;
		&:before {
			background: #022859;
			content: '';
			position: absolute;
			width: 100%;
			height: 95%;
			left: 0;
			top: 0;
		}
		img {
			position: relative;
			display: block;
			width: 100%;
			max-width: 100%;
			object-position: center;
			object-fit: cover;
			height: 100%;

		}
	}
}
.section_callback {
	padding: 120px 0;
	.callback_wrapper {
		display: flex;
		justify-content: flex-end;
	}
	.container {
		position: relative;
	}
	.movingImg {
		position: relative;
		z-index: 20;
		display: block;
		position: absolute;
		top: -73px;
    	left: -70px;
		z-index: 30;
	}
	.dots {
		position: absolute;
		top: 110px;
		left: 225px;
		z-index: 25;
	}
	.circle_anim {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_blue {
			top: 356px;
    		left: 325px;
			background: #022859;
			z-index: 20;
			animation: circle_blue 1.5s linear 1 alternate forwards;
		}
		&.circle_orange {
			top: 166px;
			left: 21px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange 1.5s linear 1 alternate forwards;
		}
	}
	@keyframes circle_blue {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(40);
		}
	}
	@keyframes circle_orange {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(28);
		}
	}
}
.callback_form {
	width: 100%;
	max-width: 560px;
	padding: 42px 60px;
	box-shadow: 0px 10px 40px #D5D7D9;
	margin: 0 0 38px;
	position: relative;
    z-index: 50;
	.callback_title {
		font-size: 24px;
		line-height: 36px;
		color: #F29F05;
		margin: 0 0 40px;
	}
	.btn_orange {
		box-shadow: none;
		width: 200px;
		min-height: 50px;
		margin: 0 0 38px;
		font-family: 'Oswald';
		font-style: normal;
	}
}
.form_input {
	width: 100%;
	max-width: 100%;
	height: 50px;
	margin: 0 0 10px;
	border: 1px solid #E7E7E7;
	position: relative;
	input:focus ~ .input-i {
	  opacity: 0;
	}
	.input-i {
	  position: absolute;
	  top: 12px;
	  bottom: 0;
	  left: 0;
	  opacity: 1;
	  transition: all .17s ease-in-out;
	  z-index: -1;
	}
	.input-i i {
	  color: #F29F05;
	  font-weight: 500;
	}
	input {
		background: transparent;
	}
	input,
	.input-i,
	textarea {
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0 0 0 23px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #022859;
		font-family: 'Oswald';
		font-style: normal;
	}
}
.form_input__area {
	height: 100px;
	margin: 0 0 20px;
	textarea {
		padding: 10px 10px 10px 23px;
	}
}
.file_upload {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 25px;
    &:hover {
    	.title {
    		text-decoration: none;
    	}
    }
    .title {
    	font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		color: #022859;
    }
    img {
    	display: block;
    	width: 16px;
    	height: 15px;
    	margin: 0 10px 0 0;
    }
    input {
    	display: none;
    }
}
.check {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #022859;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.telegram_contact {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	p {
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #022859;
		margin: 0 37px 0 0;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			right: -29px;
			bottom: -5px;
			background: url('../img/arrow_spiral.svg') center no-repeat;
			background-size: cover;
			width: 57px;
			height: 30px;
		}
	}
	a {
		display: inline-block;
		&:hover {
			opacity: 0.7;
		}
		img {
			display: block;
		}
	}
}
//END INDEX
//START 404
.section_error {
	padding: 318px 0 384px 0;
	background: #022859;
	overflow: hidden;
	min-height: 100vh;
	@include media-max(lg) {
		padding: 342px 0 412px 0;
	}
	@include media-max(md) {
		padding: 104px 0 359px 0;
	}
	.container {
		position: relative;
	}
	.main_title {
		font-size: 53px;
		line-height: 79px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 52px;
		@include media-max(xl) {
			max-width: 500px;
		}
		@include media-max(lg) {
			font-size: 46px;
			line-height: 68px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 0 35px;
			max-width: 400px;
		}
		@include media-max(md) {
			font-size: 38px;
			line-height: 56px;
			margin: 0 0 20px;
		}
	}
	.error_subtitle {
		font-size: 36px;
		line-height: 53px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0 0 35px;
		@include media-max(lg) {
			font-size: 24px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 0 32px;
		}
		@include media-max(md) {
			margin: 0 0 18px;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.btn_wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.btn_orange {
			width: 160px;
			min-height: 47px;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;
			@include media-max(lg) {
				width: 111px;
				min-height: 30px;
				font-size: 9px;
				line-height: 18px;
			}
			@include media-max(md) {
				width: 90px;
				height: 26px;
				font-size: 8px;
				line-height: 18px;
			}
		}
		p {
			font-size: 36px;
			line-height: 53px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0 38px;
			@include media-max(lg) {
				font-size: 24px;
				line-height: 36px;
				margin: 0 15px;
			}
			@include media-max(md) {
				font-size: 16px;
				line-height: 24px;
				margin: 0 6px;
			}
		}
	}
	.error_head {
		position: absolute;
		display: block;
		top: -175px;
		right: -300px;
		z-index: 30;
		animation: error_head 1.5s linear infinite alternate 0.5s;
		transform: rotate(-10deg);
		@include media-max(lg) {
			width: 650px;
		    height: 850px;
		    object-fit: contain;
		    top: -290px;
		    right: -267px;
		}
		@include media-max(md) {
			top: inherit;
		    bottom: -370px;
		    width: 375px;
		    height: 375px;
			right: -100px;
		}
	}
	@keyframes error_head {
		0% {
			transform: rotate(-10deg);
		}
		100% {
			transform: rotate(10deg);
		}
	}
	.movingImg {
		position: absolute;
		display: block;
		top: -175px;
		right: -300px;
		z-index: 30;
		@include media-max(xl) {
			right: -250px;
		}
	}
	.dots {
		position: absolute;
		display: block;
		top: -215px;
		right: 0;
		z-index: 25;
		@include media-max(lg) {
			width: 252px;
			height: 181px;
			object-fit: contain;
			right: 56px;
			top: -228px;
		}
		@include media-max(md) {
			width: 167px;
			height: 120px;
			top: inherit;
			bottom: -330px;
			right: -55px;
		}
	}
	.circle_anim {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: circle 1.5s linear 1 alternate 0.5s forwards;
		&.circle_white1 {
			bottom: -102px;
			right: -142px;
			background: #fff;
			z-index: 20;
			animation: circle_white1 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				right: 65px;
    			bottom: -182px;
				animation-name: circle_white1_lg;
			}
			@include media-max(md) {
				right: inherit;
			    left: 85px;
    			bottom: -291px;
				animation-name: circle_white1_md;
			}
		}
		&.circle_white2 {
			top: 187px;
    		right: 288px;
			background: #fff;
			z-index: 20;
			animation: circle_white2 1.5s linear 1 alternate  forwards;
			@include media-max(xl) {
				right: 250px;
			}
			@include media-max(lg) {
				top: 69px;
    			right: 164px;
				animation-name: circle_white2_lg;
			}
			@include media-max(md) {
				top: inherit;
    			right: -15px;
    			bottom: 0;
				animation-name: circle_white2_md;
			}
		}
		&.circle_orange1 {
			right: 25px;
    		bottom: -175px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange1 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				right: -5px;
				bottom: -63px;
				animation-name: circle_orange1_lg;
			}
			@include media-max(md) {
				bottom: -480px;
				right: inherit;
				left: 22px;
				animation-name: circle_orange1_md;
			}
		}
		&.circle_orange2 {
			right: -117px;
    		top: -6px;
			background: #F29F05;
			z-index: 20;
			animation: circle_orange2 1.5s linear 1 alternate forwards;
			@include media-max(lg) {
				top: -134px;
				right: -102px;
				animation-name: circle_orange2_lg;
			}
			@include media-max(md) {
				top: inherit;
				bottom: -251px;
    			right: 73px;
				animation-name: circle_orange2_md;
			}
		}
	}
	@keyframes circle_white1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(5);
		}
	}
	@keyframes circle_white1_lg {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(5);
		}
	}
	@keyframes circle_white1_md {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(3.4);
		}
	}
	@keyframes circle_white2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(29);
		}
	}
	@keyframes circle_white2_lg {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(22);
		}
	}
	@keyframes circle_white2_md {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(9);
		}
	}
	@keyframes circle_orange1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(20);
		}
	}
	@keyframes circle_orange1_lg {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(13);
		}
	}
	@keyframes circle_orange1_md {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(13);
		}
	}
	@keyframes circle_orange2 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(56);
		}
	}
	@keyframes circle_orange2_lg {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(50);
		}
	}
	@keyframes circle_orange2_md {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(29);
		}
	}
}
//END 404
//START FOOTER
footer {
	background: #022859;
	padding: 27px 0;
	@include media-max(lg) {
		padding: 15px 0;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.footer_left {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.logo_footer {
				width: 118px;
				height: 56px;
				display: inline-block;
				margin: 0 82px 0 0;
				@include media-max(lg) {
					width: 60px;
					height: 28px;
					margin: 0 20px 0 0;
				}
				@include media-max(md) {
					width: 64px;
					height: 29px;
				}
				&:hover {
					opacity: 0.7;
				}
				img {
					display: block;
					width: 100%;
					max-width: 100%;
				}
			}
			.footer_info {
				li {
					margin: 0 0 5px;
					&:nth-last-child(1) {
						margin: 0;
					}
					@include media-max(lg) {
						margin: 0;
					}
					a {
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						text-decoration: underline;
						color: #FFFFFF;
						@include media-max(lg) {
							font-size: 10px;
							line-height: 12px;
							display: block;
						}
						@include media-max(md) {
							font-size: 8px;
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		.footer_right {
			width: calc(50% - 30px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include media-max(md) {
				align-items: flex-end;
			}
			.footer_social {
				display: flex;
				align-items: center;
				justify-content: space-between;
				li {
					margin: 0 50px 0 0;
					@include media-max(lg) {
						margin: 0 35px 0 0;
					}
					@include media-max(md) {
						margin: 0 9px 0 0;
					}
					&:nth-last-child(1) {
						margin: 0;
					}
					a {
						display: inline-block;
						&:hover {
							opacity: 0.7;
						}
					}
					img {
						display: block;
						width: 50px;
						height: 50px;
						@include media-max(lg) {
							width: 23px;
							height: 23px;
						}
						@include media-max(md) {
							width: 15px;
							height: 15px;
						}
					}
				}
			}
			.footer_contacts {
				li {
					margin: 0 0 10px 0;
					&:nth-last-child(1) {
						margin: 0;
					}
					@include media-max(lg) {
						margin: 0;
					}
					a {
						font-weight: 300;
						font-size: 17px;
						line-height: 18px;
						color: #FFFFFF;
						@include media-max(lg) {
							font-size: 10px;
							line-height: 12px;
							display: block;
						}
						@include media-max(md) {
							font-size: 8px;
						}
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
//END FOOTER
//OTHER STYLES

.movingImg {
	@include media-max(lg) {
		display: none !important;
	}
}
.error_head {
	display: none !important;
	@include media-max(lg) {
		display: block !important;
	}
}